* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
}

header {
  background-color: #2d303a;
}
.navigation {
  display: grid;
  align-content: center;
  text-align: end;
}
li {
  display: inline;
  color: white;
  text-transform: uppercase;
  text-align: left;
  margin-left: 22px;
  font-size: 12px;
  line-height: 0px;
  list-style: none;
  font-weight: 500;
}
li:before {
  position: relative;
  bottom: 3px;
  left: -16px;
  color: #494e62;
  content: ".";
}
li:first-child::before {
  position: relative;
  bottom: 3px;
  left: -16px;
  color: #494e62;
  content: "";
}

ul {
  padding-right: 40px;
  margin-top: 5px;
}

ul li:first-child {
  color: #f06c64;
}

h1 {
  font-size: 25px;
  font-weight: 700;
  line-height: 20px;
  color: #ffffff;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: -0.475px;
}

.title {
  font-size: 30px;
  line-height: 18px;
  color: #666d89;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  text-align: left;
  letter-spacing: 0px;
  letter-spacing: 0px;
}
.logo {
  display: grid;
  align-content: center;
  padding-left: 40px;
}

h1::after {
  color: #f06c64;
  content: "*";
}

h3 {
  font-size: 18px;
  line-height: 18px;
  color: #666d89;
  font-weight: 900;
  text-align: left;
  display: block;

}

.support {
  letter-spacing: -0.45px;
}
.header-row-1 {
  height: 89px;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
}

.header-row-2 {
  height: 6px;
  background-color: #323746;
}

main {
  background-color: #f06c64;
}
main section:first-child {
  max-width: 1020px;
  height: 600px;
  background-color: #f06c64;
  display: grid;
  justify-content: center;
  grid-template-columns: 0.4fr 0.6fr;
  grid-template-rows: minmax(300px, 1fr);
  margin: 0 auto;
}

main section:last-child {
  height: 495px;
  background-color: #f2f2f2;
}

.services-row-1 {
  width: 1020px;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  margin: 0 auto;
}
.services-row-1 > div {
  margin: 67px 40px 40px 40px;
}
.icon {
  width: 60px;
  height: 60px;
  background-color: #666d89;
}

.pen {
  background: url("./assets/img/Ellipse.png") no-repeat;
}
.bulb {
  background: url("./assets/img/bulb.png") no-repeat;
}
.heart {
  background: url("./assets/img/heart.png") no-repeat;
}
.phone {
  background: url("./assets/img/phone.png") no-repeat;
}
.bubble {
  background: url("./assets/img/bubble.png") no-repeat;
}
.star {
  background: url("./assets/img/star.png") no-repeat;
}
.s-block {
  width: 300px;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}

.s-block p {
  font-size: 12px;
  line-height: 21px;
  color: #767e9e;
  font-weight: 400;
  margin-top: 10px;
  word-break: break-all;
  overflow: hidden;
  text-align: justify;
}
.services-row-2 {
  width: 980px;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(3, auto);
  margin: 0 auto;
  padding: 6px;
  row-gap: 30px;
}
.services-row-1 > div p {
  font-size: 18px;
  line-height: 29.5px;
  color: #767e9e;
  letter-spacing: -0.22px;
  font-weight: 300;
  margin-top: 30px;
  text-align: justify;
}
.iphone-vertical {
  background: url("./assets/img/iPhone\ Vertical.png") no-repeat;
  background-position-x: 110px;
  background-position-y: -17px;
}
.left-arrow {
  background: url("./assets/img/chev-left.png") no-repeat;
  height: 30px;
  position: relative;
  top: 281px;
  left: 41px;
  cursor: pointer;
}

.right-arrow {
  background-color: #f06c64;
  background: url("./assets/img/chev-right.png") no-repeat;
  height: 30px;
  width: 30px;
  position: relative;
  top: 281px;
  left: 555px;
  cursor: pointer;
}
.iphone-horizontal {
  background: url("./assets/img/iPhone\ Horizontal.png") no-repeat;
  background-position: right;
  background-position: -48px 69px;
}
@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-300.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-300.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-regular.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-regular.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-700.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: url("assets/fonts/lato-v16-latin-900.woff2") format("woff2"),
    url("assets/fonts/lato-v16-latin-900.woff") format("woff");
}

body {
  font-family: "Lato", sans-serif;
}
